$white: #FFF;
$black: #000;
$background: #FFF;
$primary: #00897b;
$primaryDark: #004d40;
$primaryLight: #80cbc4;
$disabledBackground: #CCC;
$disabledColor: #666;
$button: #80cbc4;
$valid: #4CAF50;
$invalid: #b71c1c;
$info: #039be5;